---
---

@import "bootstrap";
@import "bootstrap.min";
@import "font-stack";
@import "colors";
@import "font-awesome.min";

.titlePage {
  height: 100vh;
  width: 100vw;
  // source: "http://www.sftphotography.co.uk/glasgow-photography-selection-black-white/"
  background: url(../images/glasgow.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  background-color: transparent;
}

.navbar.navbar-default {
  min-height: 80px;
  // background: rgba(230, 234, 230, 0.5);
  // background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
  background: white;
  border: none;
  .navbar-brand {
    padding: 0;
    img {
      height: 80px;
    }
  }
  .container-fluid {
    padding-right: 0;
    .collapse {
      .navbar-nav > li > a {
        line-height: 50px;
        font-size: 20px;
        color: lighten($primary-color, 15%);
      }
      .navbar-nav >li {
        &:hover {
          background: lighten($primary-color, 70%);
        }
      }
    }
  }
}

.title {
  width: 100vw;
  text-align: center;
  margin: 0 auto;
  margin-top: calc(100vh - 230px);
  h1 {
    font-family: $title-font;
    font-size: 60px;
    color: white;
    .portfolioName {
      color: $secondary-color;
    }
    .pensionName {
      color: $primary-color;
    }
  }
}

.companyDescription {
  display: block;
  width: 90%;
  margin: 40px auto 0;
  p {
    font-size: 20px;
  }
}

.mainContainer {
  background: lightgrey;
  width: 30%;
  display: inline-block;
  vertical-align: top;
  margin: 22px;
  &:hover {
    opacity: 0.8;
  }
  h3 {
    text-align: center;
  }
  p {
    padding: 10px;
  }
}

.about {
  padding: 10px;
  .aboutContainer {
    margin: 0 auto;
    width: 90%;
    border-bottom: 1px solid;
    .personContainer {
      display: inline-block;
      width: 23%;
      vertical-align: top;
      background: lightgrey;
      margin: 10px;
      padding: 10px;
      &:hover {
        opacity: 0.8;
      }
      h3, h4 {
        margin: 0;
        text-align: center;
        padding-bottom: 10px;
      }
    }
  }
}

.portfolioManagementContainer {
  padding: 10px;
  .portfolioManagement {
    vertical-align: top;
    width: 48%;
    display: inline-block;
    margin: 0 auto;
    .invProcess {
      margin: 10px;
      border: 1px solid lightgrey;
      padding: 10px;
      p {
        text-align: center;
      }
    }
    .fontContainer {
      width: 50px;
      margin: 0 auto;
      i {
        display: inline-block;
        width: 100%;
        text-align: center;
        font-size: 4em;
      }
    }
  }
  .portfolioStrategies {
    display: inline-block;
    width: 48%;
    vertical-align: top;
  }
  .understandingInvestmentRisk {
    border-top: 1px solid lightgrey;
    h3 {
      text-align: center;
    }
    .investmentRiskContainer {
      background: lightgrey;
      width: 33%;
      display: inline-block;
      vertical-align: top;
      padding: 10px;
      &:hover {
        opacity: 0.8;
      }
      h4 {
        text-align: center;
        margin: 0 0 10px;
      }
    }
  }
}


.investmentDisclaimer {
  text-align: center;
  margin: 0;
  font-weight: bold;
}



footer {
  background-color: lightgrey;
  p {
    text-align: center;
    margin: 0;
  }
}
