<section class="about">

  <div class="aboutContainer">
    <h2>About</h2>
    <p>We are a low profile, non-sales driven business which is centred upon putting our client’s needs first and providing a first class service at all times. Our primary service is Discretionary Portfolio Management which we provide for personal investments as well as assets held within Self-Invested Personal Pensions (SIPPs) and Trusts. With over 30 years in business, our approach hasn’t changed, our clients will always remain at the heart of our business. Testimony to that is the fact that a large proportion of our clients have been with us for many years.</p>
  </div>

  <div class="aboutContainer">
    <h2>Our Services</h2>
    <p>The services that we provide are focused entirely on the management of investment portfolios. The portfolios are mainly held by the clients’ personally, within a SIPP or via a Trust; almost all are managed with a discretionary mandate whereby we have the client’s authority to transact investments on their behalf without reference to the client. We supplement the investment management function with financial advice that is relevant to the management of the client’s portfolio. Such advice is only provided to those clients whose portfolios we manage.  We do not provide a holistic financial planning service nor do we provide advice on an ad hoc basis.</p>
    <p>Our services are tailored to meet your individual needs. Before any work is undertaken on your behalf, the services we will provide to you and the cost of those services are agreed with you.  These are subsequently set out within a Management Agreement which will include the terms and conditions relating to our services.</p>
    <p>We offer six investment portfolio structures, five graded according to risk plus a specialist portfolio geared towards providing income. We undertake the management of portfolios on both a fully bespoke basis and also model portfolios that represent a collection of ‘best ideas’. Clients who opt for a fully bespoke mandate receive a comprehensive actively managed service which can access a full range of asset classes, including (where appropriate) individual shares.</p>
    <p>Our Model Portfolio proposition aims to generate consistent, risk-adjusted returns from our offering of risk graded portfolios which encapsulate our research-led, diversified selection of preferred collective investments. The Model Portfolios are reviewed, taking into account quantitative and qualitative measures, on a regular basis.</p>
  </div>

  <div class="aboutContainer">
    <h2>Our people</h2>

    <div class="personContainer">
      <h3>Alan Steven</h3>
      <h4>Managing director</h4>
      <p>Alan was a co-founder of PPM in 1984 and is the Managing Director of the company. In addition to running the business, Alan’s responsibilities include the management of personal and SIPP portfolios and the provision of financial advice for PPM’s clients. With a background in both pensions and investment management, Alan has been the driver of PPM’s service for Self-Invested Pension Plans (SIPPs). Alan is an Associate of the Chartered Insurance Institute and holds the Investment Management Asset Allocation Qualification.</p>
    </div>

    <div class="personContainer">
      <h3>Paul Steven</h3>
      <h4>Investment director</h4>
      <p>Paul has 10 years experience in the industry and he takes the lead role in PPM’s investment research for both collectives and individual shares. Paul oversees the firm’s asset allocation and portfolio construction process as well as being responsible for the day-to-day management of client portfolios. Paul’s investment career began in Glasgow with Morgan Stanley and has since covered roles in fund management with SWIP (Scottish Widows Investment Partnership) and advisory stockbroking with Killik & Co in the City of London. He is a Chartered Wealth Manager and a member of the Chartered Institute for Securities & Investment.</p>
    </div>

    <div class="personContainer">
      <h3>Veronica Thomas</h3>
      <h4>Investment Adviser</h4>
      <p>Veronica has over 20 years’ experience in the financial services industry. Her main role within the business is to provide financial and investment planning advice to clients. With a background in both holistic financial planning and investment management, Veronica started her career with a fund management group before taking up various financial services roles including 8 years providing financial advice to high net worth clients of the legal firm Maclay Murray and Spens. Veronica holds both the Investment Management Certificate and the Level 4 Diploma in Financial Services.</p>
    </div>

    <div class="personContainer">
      <h3>Ian Black</h3>
      <h4>Company Secretary / Investment Administrator</h4>
      <p>Ian is a law graduate with 20 years’ experience in financial services starting in Barclays Stockbrokers and then over 15 years within PPM. He has a thorough knowledge of PPM’s business and the requirements of our clients. Ian is responsible for all aspects of Investment Administration including dealing, transfers, corporate actions, valuations and client queries.</p>
    </div>

    <div class="personContainer">
      <h3>Sharon Mitchell</h3>
      <h4>Pensions Administrator</h4>
      <p>Sharon has over 25 years experience in the financial services industry focusing mainly on pension arrangements. Her role at PPM is to provide administrative support to Alan, Veronica and Paul. After graduating from Strathclyde University, Sharon’s pensions career started at Noble Lowndes & Partners (now part of Mercers), then after working in the Staff Pensions Department at the Clydesdale Bank, Sharon spent 11 years with pension consultants Jardine Lloyd Thompson.</p>
    </div>

    <div class="personContainer">
      <h3>Drew Cameron</h3>
      <h4>Compliance Manager</h4>
      <p>Drew has almost 30 years experience within financial services. His main role is to look after all Regulatory and Compliance matters affecting PPM. He started his career in 1987 with PPM, and over the years he has been a Senior Investment Administration Manager at Barclays Stockbrokers and Global Securities Services Manager at Prudential International in Dublin. He also gained various Financial Planning qualifications, and was a Financial Adviser for St James’s Place in Belfast and also for Openwork. His experience includes various compliance roles, which brought him back to PPM in 2011 to perform his current role.</p>
    </div>

    <div class="personContainer">
      <h3>Fiona McCall</h3>
      <h4>Administrator</h4>
      <p>Fiona provides secretarial support to Alan, Veronica and Paul as well as carrying out various office administration tasks. Fiona has built up a wealth of experience over the years working in various offices primarily associated with the educational sector.</p>
    </div>
  </div>

  <p class="investmentDisclaimer">The value of investments and the income from them can go down as well as up and you may not get back the amount invested.</p>
</section>
