<h1>Get in touch</h1>

<p>Tel: 01698 717 273</p>
<p>Email: advice@ppmltd.co.uk</p>
<p>Portfolio & Pension Management<br>
4 Bell Drive<br>
Hamilton International Park<br>
Glasgow<br>
G72 0FB</p>

<h2>Send us mail</h2>
<form>
  <label for="">Name</label>
  <input type="text" id="name"><br>

  <label for="">Email</label>
  <input type="email" id="email"><br>

  <label for="">Subject</label>
  <input type="text" id="subject"><br>

  <label for="">Message</label>
  <textarea id="message" rows="8" cols="80"></textarea>
</form>
