<section id="titlePage">
  <div class="title">
    <h1>Welcome to <br>
      <span class="portfolioName">Portfolio</span> & <span class="pensionName">Pension</span> Management</h1>
  </div>
  <div class="companyDescription">
    <p>We are a low profile, non-sales driven business which is centred upon putting our client’s needs first and providing a first class service at all times. Our primary service is Discretionary Portfolio Management which we provide for personal investments as well as assets held within Self-Invested Personal Pensions (SIPPs) and Trusts. With over 30 years in business, our approach hasn’t changed, our clients will always remain at the heart of our business. Testimony to that is the fact that a large proportion of our clients have been with us for many years.</p>
  </div>

  <div class="mainContainer">
    <h3>About us</h3>
    <p>Our business was originally formed as a partnership in 1984 to provide financial advice and management to Individual Clients, Companies, Pension Funds and Trusts. In 2003 we became a Limited Company.</p>
  </div>

  <div class="mainContainer">
    <h3>Investment process</h3>
    <p>At the core of our investment process is a belief that asset allocation provides a structure which is fundamental to the effective and successful management of client portfolios and that the balance and composition of this structure will alter in accordance with market conditions and/or changes to each individual client’s needs.</p>
  </div>

  <div class="mainContainer">
    <h3>Our services</h3>
    <p>Our management services are applicable to investments held by individuals, Self-Invested Personal Pensions (SIPPs) and Trusts; for personal portfolios we utilise a variety of products, such as Individual Savings Accounts (ISAs), to achieve a tax-efficient return. In constructing and managing portfolios, we also provide continuous financial advice to ensure that the portfolios match the key financial objectives of each client.</p>
  </div>

</section>
